<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create board game</title>
    <script th:replace="insert/header :: headerElement"></script>
</head>
<body>
<script th:replace="insert/header :: header"></script>
<h1>Create board game</h1>
<!--<a th:href="@{/user/see_game(gameId = ${game.getId()})}">Back</a>-->

    <form method="post" action="/admin/add_game">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>
            <p>Logo: <input name="logo"></p>
        </div>
        <div>
            <p>Title: <input name="title"></p>
        </div>
        <div>
            <input type="submit" value="Save game">
        </div>

        <!--    <button id="saveBtn">Save</button>-->
        <!--    <button id="cancelBtn">Cancel</button>-->
    </form>


</body>
</html>