<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <title>Adding games</title>
</head>
<body>

<table cellpadding="5" cellspacing="0">
    <tr>
        <td id="col1">
            <h1 th:text="${user.login}"></h1>
            <a href="/user/back">Back</a>

        </td>
        <td id="col3">
            <div>
                <h1>Board games</h1>
                <table>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Rating</th>
<!--                        <th>Owners</th>-->
<!--                        <th>Meetings</th>-->
                        <th></th>
                    </tr>
                    <th:block th:each="game: ${games}">
                        <tr th:if="${game.getIsActive()}">
                            <td><img th:src="${game.getLogo()}" height="30px"></td>
                            <td th:text="${game.getTitle()}" height="16px"></td>
                            <td th:text="${game.getRating()}" align="right"></td>
<!--                            <td th:text="${game.getNumberOfOwners()}" align="right"></td>-->
<!--                            <td th:text="${game.getNumberOfMeetings()}" align="right"></td>-->
                            <td><a th:href="@{/user/add_game(gameId = ${game.id})}">Add to collection</a></td>
                        </tr>
                    </th:block>
                </table>

            </div>
        </td>
    </tr>
</table>


</body>

</html>