<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <title>Registration</title>
</head>
<body>
<div>
    <h3 th:text="${game.getTitle()}"></h3>
</div>
<a th:href="@{/user/see_game(gameId = ${game.getId()})}">Back</a>
<form method="post" action="/user/create_meet">
    <input name ="location" placeholder="location">
    <input name ="dateTime" type="datetime-local" placeholder="${java.version.date}">
    <input name="gameId" th:value="${game.getId()}" >
    <input type="submit" value="Create">

    <!--    <button id="saveBtn">Save</button>-->
    <!--    <button id="cancelBtn">Cancel</button>-->
</form>


</body>
</html>